<h1>Memo Details</h1>

<div>
  <p>
    <strong>Title:</strong>
    <%= @firestoredata[:title] %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= @firestoredata[:type] %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= @firestoredata[:content] %>
  </p>

  <p>
    <small>Document ID: <%= @firestoredata[:id] %></small>
  </p>
</div>

<div>
  <%= link_to "Back to List", firestore_index_path %>
  <%= link_to "Edit Memo", firestore_edit_path(collection: params[:collection], id: @firestoredata[:id]) %>
  <%= button_to "Delete Memo",
                firestore_destroy_path(collection: params[:collection], id: @firestoredata[:id]),
                method: :delete,
                data: { confirm: "本当に削除しますか？" } %>
</div>