<h1><%= @product.name %></h1>
<h4>this product is id <%= @product.id %></h4>
<div>created at : <%= @product.created_at %></div>
<%= link_to "Back", products_path %>
<%= link_to "Edit", edit_product_path(@product) %>